<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

<!-- Servlets -->
<servlet>
<servlet-name>NonaCubi2ErectServlet</servlet-name>
<servlet-class>com.akjava.gwt.equirectangular.server.NonaCubi2ErectServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>NonaCubi2ErectServlet</servlet-name>
<url-pattern>/write</url-pattern>
</servlet-mapping>
  
  <servlet>
<servlet-name>Base64FileSaveServlet</servlet-name>
<servlet-class>com.akjava.gwt.equirectangular.server.Base64FileSaveServlet</servlet-class>
 
 <init-param>
  <param-name>directory</param-name>
  <param-value>s:\download\nonadatas\images</param-value>
  </init-param>
  
</servlet>
<servlet-mapping>
<servlet-name>Base64FileSaveServlet</servlet-name>
<!-- don't modify, some class using this path -->
<url-pattern>/base64write</url-pattern>

 
</servlet-mapping>

<servlet>
<servlet-name>SixCubicToEquirectangularServlet</servlet-name>
<servlet-class>com.akjava.gwt.equirectangular.server.SixCubicToEquirectangularServlet</servlet-class>]

 <init-param>
  <param-name>directory</param-name>
  <param-value>s:\download\nonadatas\images</param-value>
  </init-param>
  
</servlet>
<servlet-mapping>
<servlet-name>SixCubicToEquirectangularServlet</servlet-name>
<!-- don't modify, some class using this path -->
<url-pattern>/sixcube</url-pattern>
</servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GWTThreeJsEquirectangular.html</welcome-file>
  </welcome-file-list>

</web-app>
